[run]
source = nook
omit =
    nook/frontend/*
    */tests/*
    */__init__.py
    nook/services/run_services*.py
    nook/services/*/run_*.py
    */__main__.py
    */site-packages/*
    */venv/*
    */.venv/*

branch = True
parallel = True

[report]
precision = 2
show_missing = True
skip_covered = False

exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
    @abc.abstractmethod
    pass

[html]
directory = htmlcov
title = Nook Test Coverage Report

[xml]
output = coverage.xml
