name: Workflow Telemetry

on:
  workflow_run:
    workflows: ["JS Tests", "Python Tests"]
    types: [completed]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  actions: read

jobs:
  telemetry:
    runs-on: ubuntu-latest
    steps:
      - name: Workflow Telemetry
        uses: catchpoint/workflow-telemetry-action@v2.0.0
