name: Workflow Telemetry

on:
  workflow_run:
    workflows: ["*"]
    types: [completed]

jobs:
  telemetry:
    runs-on: ubuntu-latest
    steps:
      - name: Workflow Telemetry
        uses: catchpoint/workflow-telemetry-action@v2.0.0
